if !blogger.domain || blogger.domain == ''
    .row
        .col-md-12
            .form-group
                p Type your preffered domain and if it's free you can pay for using it. You will be redirected to Steemconnect website to approve transfer. Domain will be registered for 1 year. Renewal price may vary.
                p Available extensions: <strong>.rocks</strong>, <strong>.xyz</strong>, <strong>.world</strong>, <strong>.space</strong>, <strong>.site</strong>, <strong>.website</strong>, <strong>.me</strong>, <strong>.eu</strong>, <strong>.com</strong>, <strong>.org</strong>, <strong>.buzz</strong>, <strong>.net</strong>
                label Domain
                input.form-control#custom-domain(name='domain', autocapitalize="none", pattern="^[a-zA-Z0-9][a-zA-Z0-9-_]+\.[a-zA-Z]{2,11}?$", type='text', placeholder='example.com', value='' parsley-trigger="change" required)

    a(href='/authorize/tier/cancel').btn.btn-link Change your tier
    button.btn.btn-success.btn-fill.pull-right#pay-steem(type='submit')= 'Pay ' + domainPrice.steem + ' STEEM'
    button.btn.btn-info.btn-space.btn-fill.pull-right#pay-sbd(type='submit')= 'Pay ' + domainPrice.sbd + ' SBD'
    .clearfix
else
    .row
        .col-md-12
            .alert.alert-info(role='alert') We are processing you request. If you paid successfully it will be available soon. It may take up to 3 minutes. Please refresh page soon.
    .row
        .col-md-12
            .form-group
                p Your requested domain: #{blogger.domain}
    .row
        .col-md-12
            .alert.alert-info(role='alert') If you interrupted payment process, you can use those buttons again. You won't be charged until you confirm transaction.

    button.btn.btn-success.btn-fill.pull-right#pay-steem(type='submit')= 'Pay ' + domainPrice.steem + ' STEEM'
    button.btn.btn-info.btn-space.btn-fill.pull-right#pay-sbd(type='submit')= 'Pay ' + domainPrice.sbd + ' SBD'