extends website.pug

append scripts
    script(src="/js/parsley.min.js")
    script(src="/js/settings.js")

block body
  .content
    .container-fluid
      form#settings
        .row
          .col-md-8.sm-12
            .card
              .card-body
                .row
                  .col-md-6
                    .form-group
                      label Domain (disabled)
                      input.form-control(type='text', disabled='', placeholder='Domain', value= blogger.domain)
                  .col-md-6
                    .form-group
                      label Steem Username
                      input.form-control(type='text', disabled='', placeholder='Username', value=blogger.steem_username)
            .card
              .card-header
                h4.card-title General settings
              .card-body
                  .row
                    .col-md-6
                      .form-group
                        label Website title
                        input.form-control(name='blog_title', required=true, type='text', placeholder='Website title', value= blogger.blog_title)
                    .col-md-6
                      .form-group
                        label Website slogan
                        input.form-control(name='blog_slogan', type='text', placeholder='Last Name', value=blogger.blog_slogan)
                  .row
                    .col-md-12
                      .form-group
                        label Website logo url (optional)
                        input.form-control(name='blog_logo_url',type='url', placeholder='https://...', value= blogger.blog_logo_url)
                  .row
                    .col-md-6 
                      .form-group
                          label Theme
                          select.form-control(name='theme')
                              option(value='default', selected=blogger.theme=='default') Default blog
                              //- option(value='flat', selected=blogger.theme=='flat') Flat
                    .col-md-6
                      .form-group
                          label Frontpage language
                          select.form-control(name='frontpage_language')
                              option(value='pl', selected=blogger.frontpage_language=='pl') Polish
                              option(value='en', selected=blogger.frontpage_language=='en') English
                  .row
                    .col-md-6
                      .form-group
                        label Posts per category page
                        input.form-control(name='posts_per_category_page', type='number', placeholder='Posts', value= blogger.posts_per_category_page)
                    .col-md-6
                      .form-group
                        label 'Load more' posts quantity
                        input.form-control(name='load_more_posts_quantity', type='number', placeholder='Posts', value= blogger.load_more_posts_quantity)
            .card
              .card-header
                  h4.card-title Blog posts' categories
              .card-body
                  .row
                      .col-md-4
                          .form-group
                              label Category name                                 
                      .col-md-4
                          .form-group
                              label Category slug
                      .col-md-3
                          .form-group
                              label Category steem tag
                  div#categories
                    each category, index in blogger.categories
                      .row(id = 'celement' + index)
                        .col-md-4
                            .form-group
                                input.form-control(name="c_" + index + '_name', required=true, type='text', placeholder='Technology', value=category.name)                                    
                        .col-md-4
                            .form-group
                                input.form-control(pattern="^[a-zA-Z0-9][a-zA-Z0-9-_]+", name="c_" + index + '_slug', required=true, type='text', placeholder='technology', value=category.slug) 
                        .col-md-3
                            .form-group
                                input.form-control(pattern="^[a-zA-Z0-9][a-zA-Z0-9-_]+", name="c_" + index + '_steem_tag', required=true, type='text', placeholder='pl-technologia', value=category.steem_tag) 
                        .col-md-1
                            .form-group
                                button.btn.btn-danger.btn-fill.pull-right.category_remove_btn(type='button') X
                  .row
                      .col-md-12
                          .form-group
                              button.btn.btn-info.btn-fill.pull-right#add(type='button') Add
            .card
              .card-header
                h4.card-title SEO & OpenGraph
              .card-body
                  .row
                    .col-md-12
                      .form-group
                        label Default OpenGraph image url (optional)
                        input.form-control(name='opengraph_default_image_url', type='text', placeholder='https://...', value=blogger.opengraph_default_image_url)                                    
                  .row
                    .col-md-12
                      .form-group
                        label Default OpenGraph description
                        textarea.form-control(name='opengraph_default_description', rows='5', placeholder='Site description...', style="height:auto !important;")= blogger.opengraph_default_description
            .card
              .card-header
                h4.card-title Push notifications
              .card-body
                  .table-full-width
                      table.table
                          tbody
                              tr
                                  td
                                      .form-check
                                          label.form-check-label
                                              input.form-check-input(name='onesignal_enable', type='checkbox', value=blogger.onesignal_enable)
                                              span.form-check-sign
                                  td Enable OneSignal push notifications on post publishing
                                  td.td-actions.text-right

              .card-body
                  .row
                    .col-md-12
                      .form-group
                        label Onesignal APP ID
                        input.form-control(name='onesignal_app_id', type='text', placeholder='xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx', value=blogger.onesignal_app_id)                                    
                  .row
                    .col-md-12
                      .form-group
                        label REST API KEY
                        input.form-control(name='onesignal_api_key', type='text', placeholder='...', value=blogger.onesignal_api_key)  
                  .row
                    .col-md-12
                      .form-group
                        label Notification logo url
                        input.form-control(name='onesignal_logo_url', type='text', placeholder='https://...', value=blogger.onesignal_logo_url)  
                  .row
                    .col-md-12
                      .form-group
                        label Notification body length (characters)
                        input.form-control(name='onesignal_body_length', type='number', placeholder='Characters', value=blogger.onesignal_body_length)  

            .card
              .card-header
                  h4.card-title Statistics and analytics
              .card-body
                  .row
                  .col-md-12
                      .form-group
                          label Google Analytics Identifier
                          input.form-control(name='analytics_gtag', type='text', placeholder='UA-xxxxxxxxx-x', value=blogger.analytics_gtag)                                    
                  .row
                  .col-md-12
                      .form-group
                          label Google Webmaster tools Verification code
                          input.form-control(name='webmastertools_id', type='text', placeholder='', value=blogger.webmastertools_id) 

                  button.btn.btn-success.btn-fill.pull-right#btn-save(type='submit') Save blog settings
                  .clearfix