extends website.pug

append scripts
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-sparklines/2.1.2/jquery.sparkline.min.js")
    script(src="/js/wallet.js")

block body
    .content
        .container-fluid
            .row
                .col-md-8
                    if parseFloat(user.account.reward_sbd_balance) > 0 || parseFloat(user.account.reward_steem_balance) > 0 || parseFloat(user.account.reward_vesting_balance) > 0 || parseFloat(user.account.reward_vesting_steem) > 0
                        .card
                            .card-body
                                p.text-success Pending rewards: 
                                    if parseFloat(user.account.reward_sbd_balance) > 0
                                        = user.account.reward_sbd_balance 
                                    if parseFloat(user.account.reward_steem_balance) > 0
                                        if parseFloat(user.account.reward_sbd_balance) > 0
                                            = ', '
                                        = user.account.reward_steem_balance 
                                    if parseFloat(user.account.reward_vesting_steem) > 0
                                        if parseFloat(user.account.reward_sbd_balance) > 0 || parseFloat(user.account.reward_steem_balance) > 0
                                            = ', '
                                        = user.account.reward_vesting_steem
                                    button.btn.btn-success.btn-fill.pull-right#btn-claim( type="button")
                                        |  Get your rewards
                    .card
                        .card-header
                            h4.card-title Wallet
                            p.card-category You total tokens, including liquid and frozen tokens like Steem Power
                        .card-body.table-full-width.table-responsive
                            table.table.table-hover
                                tbody
                                    tr
                                        td STEEM
                                            p.small Liquid STEEM tokens are transferable
                                        td.chart-steem
                                        td= user.account.balance
                                    tr
                                        td STEEM DOLLARS
                                            p.small Liquid SBD tokens are transferable
                                        td.chart-sbd
                                        td= user.account.sbd_balance
                                    tr
                                        td STEEM POWER
                                            p.small STEEM POWER tokens are freezed and can be withrawed in 13 weeks
                                        td.chart-sp.graph
                                        td= parseFloat(steemPower).toFixed(3) + ' STEEM'
                                    tr
                                        td SBD on SAVINGS
                                            p.small Savings can be withdrawed with three days waiting period
                                        td.chart-savings-sbd
                                        td
                                            p= user.account.savings_sbd_balance
                                    tr
                                        td STEEM on SAVINGS
                                            p.small Savings can be withdrawed with three days waiting period
                                        td.chart-savings-steem
                                        td
                                            p= user.account.savings_balance
                                    //- tr
                                    //-     td Estimated Account Value
                                    //-         p.small Savings can be withdrawed with three days waiting period
                                    //-     td
                                    //-         p= accountValue
                    //- .card
                    //-     .card-header
                    //-         h4.card-title Transfer
                    //-         p.card-category Savings can be withdrawed with three days waiting period. It's better to handle your liquid tokens in Savings, because if you loose your keys, you have three days before anyone will be able to transfer this funds.
                    //-     .card-body
                    //-         | kjkjjfg