if author && author.image && (author.name || author.surname) && author.bio
    div(itemscope itemtype="http://schema.org/Person").author-profile
        .author-box
            link(itemprop="mainEntityOfPage" href="/autor/" + author.username)
            div.author-image-container
                img(src= author.image)#author-image
            .author-content
                h4
                    span(itemprop="name")= author.name + " " + author.surname
                    a(href="/autor/" + author.username, itemprop="url")= author.articles_count + " artykułów"
                p(itemprop="description")= author.bio
                ul.author-social
                    if(author.facebook_url)
                        li
                            a(href=author.facebook_url)
                                i.fa.fa-facebook
                    if(author.twitter_url)
                        li
                            a(href=author.twitter_url)
                                i.fa.fa-twitter
                    if(author.linkedin_url)
                        li
                            a(href=author.linkedin_url)
                                i.fa.fa-linkedin
                    if(author.instagram_url)
                        li
                            a(href=author.instagram_url)
                                i.fa.fa-instagram