mixin renderComment(comments)
    ul.comment-tree
        each comment in comments
            li
                .comment-box
                    img(src="https://steemitimages.com/u/" + comment.author + "/avatar")
                    .comment-content
                        input(type='hidden' name='comment_permlink' value= comment.permlink)
                        input(type='hidden' name='comment_author' value= comment.author)
                        h4
                            //- a(href="https://steemit.com/@" + comment.author )= comment.author
                            = comment.author
                        span
                            i.fa.fa-clock-o
                            = comment.created
                        p= comment.body
                        .comment-action
                            if comment.voted
                                i.fa.fa-thumbs-up.comments-action.comment-vote.voted
                            else 
                                i.fa.fa-thumbs-up.comments-action.comment-vote
                            span &nbsp;
                            span(name="comment-votes")= comment.net_votes
                            span &nbsp;&nbsp;&nbsp;&nbsp;

                            span $
                            span(name="comment-value")= comment.value
                            span &nbsp;&nbsp;&nbsp;&nbsp;
                            i.fa.fa-comment-o.comments-action.comment-reply
                                | &nbsp;
                                span.comments-action= translation.frontpage.reply_text
                if comment.replies.length > 0
                    +renderComment(comment.replies)



if !user
    include steemit-box.pug
else
    .contact-form-box
        .title-section
            h1= translation.frontpage.leave_reply
        form#comment-form
            label(for="comment-body")= translation.frontpage.comment + ':'
            textarea#comment(name="comment_body")
            input(type="hidden", name="permlink", value= permlink)
            input(type="hidden", name="title", value= title)
            input(type="hidden", name="parent_author", value="")
            button(type="submit")#submit-contact
                i.fa.fa-comment
                = translation.frontpage.send_reply_text

.comment-area-box#comments
    .title-section
        h1
            span= translation.frontpage.comments
    +renderComment(comments)

                        
