extends website.pug

block body
    #myModal1.modal.fade.modal.modal-primary(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header.justify-content-center
                    //- .modal-profile
                    //-     i.nc-icon.nc-bulb-63
                .modal-body.text-center
                    p You are about to edit blog post in Steem blockchain
                    hr

                .modal-footer
                    button.btn.btn-link.btn-simple(type='button', data-dismiss='modal') Back
                    button.btn.btn-link.btn-success.btn-fill#btn-accept(type='button') Yes, i want to edit it
    .content
        .container-fluid
            .row
                .col-md-8
                    .card
                        .card-header
                            h4.card-title Edit steem post
                        .card-body
                            form#article(data-parsley-validate="")
                                input(hidden=true, name='permlink' value=post.permlink)
                                input(hidden=true, name='parent_category' value=post.category)
                                .row
                                    .col-md-12
                                        .form-group
                                            label Title
                                            input.form-control(type='text', placeholder='Post title...', value=post.title, name='title', required="" minlength="5")
                                .row
                                    .col-md-12
                                        .form-group
                                            label Body
                                            textarea.form-control#edit-body(rows='10', placeholder='Blog post...', style="height:auto !important;", name='body' required="" minlength="10")= post.body
                                            a.btn.btn-link.btn-simple.pull-right(target='_blank' href='https://guides.github.com/features/mastering-markdown/') Markdown styling guide
                                .row
                                    .col-md-12
                                        .form-group
                                            label Category
                                            select.form-control(name='category' disabled=true)
                                                each category in blogger.categories 
                                                    option(selected= (post.category == category.steem_tag))= category.name
                                .row
                                    .col-md-12
                                        .form-group
                                            label Additional tags (space separated)
                                            input.form-control(type='text', pattern="([a-zA-Z0-9]+[ ]?)([a-zA-Z0-9-]+[ ]?){0,3}", data-parsley-pattern-message="Only letters and numbers allowed. No more than 4 tags", placeholder='tag anothertag', value=post.tags, name='tags')
                                .row
                                    .col-md-12
                                        .form-group
                                            label(data-toggle="tooltip" data-placement="top" title="If not specified - first image from post will be used as post thumbnail") Thumbnail image (optional)
                                            input.form-control(type='text', pattern="(http(s)?://)([a-zA-Z0-9]{1,256}\.)?[a-zA-Z0-9]{2,256}\.[a-z]{2,6}([-a-zA-Z0-9@:%_+.~#?&/=]*)(.)(png|jpg|jpeg|gif|bmp)", data-parsley-pattern-message="Please use only direct image link as a thumbnail", placeholder='https://...', value=post.image, name='image')
                            
                                .pull-right
                                button.btn.btn-success.btn-fill.pull-right#btn-publish( type="button")
                                    |  Update post at blockchain

                .col-md-4
                    .card
                        .card-header
                            h4.card-title Tips and tricks
                        .card-body
                            ul
                                li Never show your steem account keys to anyone
                                li User popular tags, but not if they are unintended
append scripts
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css')
    script(src='https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js')
    script(src="/js/parsley.min.js")
    script(src="/js/edit.js")