//- .author-box
//-     p Informacje o autorze:&nbsp;
//-         i #{author.username}
//-     if author && author.image && (author.name || author.surname) && author.bio
//-         .row
//-             .col-lg-4.col-md-4.col-sm-12
//-                 img(src= author.image)
//-             .col-lg-8.col-md-8.col-sm-12
//-                 .author-box-text
//-                     h4
//-                         span= author.name + " " + author.surname + " / "
//-                         a(href="/autor/" + author.username)= author.articles_count + " artykułów"
//-                     ul.author-social-media
//-                         if(author.facebook_url)
//-                             li
//-                                 a(href=author.facebook_url)
//-                                     span(class="typcn typcn-social-facebook")
//-                         if(author.twitter_url)
//-                             li
//-                                 a(href=author.twitter_url)
//-                                     span(class="typcn typcn-social-twitter")
//-                         if(author.linkedin_url)
//-                             li
//-                                 a(href=author.linkedin_url)
//-                                     span(class="typcn typcn-social-linkedin")
//-                         if(author.instagram_url)
//-                             li
//-                                 a(href=author.instagram_url)
//-                                     span(class="typcn typcn-social-instagram")
//-                     p= author.bio
