extends website

append scripts
  script(type='text/javascript').
    var btn_reply_text = "Reply"
    var btn_send_reply_text = "Send reply"
    var btn_cancel_text = "Cancel"
    var comment_hidden = "Comment hidden"
  script(src="//cdn.steemjs.com/lib/latest/steem.min.js")
  script(src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js" async)
  if blog.lang == 'pl'
    script(src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/locale/pl.js" async)
  else 
    script(src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/locale/en.js" async)
  script(src="//cdn.jsdelivr.net/npm/marked/marked.min.js" async)
  script(src="/js/single.js")

block header
    input(type='hidden', id='permlink', value= article.permlink)
    input(type='hidden', id='editorial', value= blog.username)
    
    if user
      input(type='hidden', id='logged_user', value= user.name)

    header.masthead(style= (article.thumbnail) ? "background-image: url('" + article.thumbnail + "')" : "")
      .overlay
      .container
        .row
          .col-lg-8.col-md-10.mx-auto
            .post-heading
              h1= article.title
              h2.subheading= article.abstract + '...'
              span.meta
                if blog.username
                  = 'by '
                  a()= blog.username
                  | , 
                span(title= moment.utc(article.created).local().format('LLL'))= moment.utc(article.created).local().fromNow()
                = ', comments: '
                span= article.comments
                span= ', reward: $' + parseFloat(article.value).toFixed(2)
    article
      .container
        .row
          .col-lg-8.col-md-10.mx-auto
            != article.body
    hr
    include partials/comments.pug
