extends website

append scripts
    script(src="/dashboard/js/settings.js")

block content
    .row
        .col-md-6

            .x_panel
                .x_title
                    h2 Ustawienia strony
                    .clearfix
                .x_content
                    br
                    form.form-horizontal.form-label-left#settings
                        .form-group
                            label.control-label.col-md-3.col-sm-3.col-xs-12 Editorial steem account
                            .col-md-9.col-sm-9.col-xs-12
                                input.form-control(type='text', placeholder='editorial_username', name='editorial_username', value= settings.editorial_username)
                        .form-group
                            label.control-label.col-md-3.col-sm-3.col-xs-12 Editorial posting key
                            .col-md-9.col-sm-9.col-xs-12
                                input.form-control(type='text', placeholder='editorial_posting_key', name='editorial_posting_key', value= settings.editorial_posting_key)
                        .form-group
                            label.control-label.col-md-3.col-sm-3.col-xs-12 Editorial active key
                            .col-md-9.col-sm-9.col-xs-12
                                input.form-control(type='text', placeholder='editorial_active_key', name='editorial_active_key', value= settings.editorial_active_key)
                        .form-group
                            label.control-label.col-md-3.col-sm-3.col-xs-12 Website title
                            .col-md-9.col-sm-9.col-xs-12
                                input.form-control(type='text', placeholder='Website title', name='website_title', value= settings.website_title)
                        .form-group
                            label.control-label.col-md-3.col-sm-3.col-xs-12 Website slogan
                            .col-md-9.col-sm-9.col-xs-12
                                input.form-control(type='text', placeholder='Website slogan', name='website_slogan', value= settings.website_slogan)
                        .form-group
                            label.control-label.col-md-3.col-sm-3.col-xs-12 Website credits (footer)
                            .col-md-9.col-sm-9.col-xs-12
                                input.form-control(type='text', laceholder='website_credits', name='website_credits', value= settings.website_credits)
                        .form-group
                            label.control-label.col-md-3.col-sm-3.col-xs-12 website_logo_url
                            .col-md-9.col-sm-9.col-xs-12
                                input.form-control(type='text', laceholder='website_logo_url', name='website_logo_url', value= settings.website_logo_url)
                        .form-group
                            label.control-label.col-md-3.col-sm-3.col-xs-12 Frontpage language
                            .col-md-9.col-sm-9.col-xs-12
                                select.select.form-control(name='frontpage_language')
                                    option(selected= (settings.frontpage_language=='en') ) en
                                    option(selected= (settings.frontpage_language=='pl') ) pl
                        .form-group
                            label.control-label.col-md-3.col-sm-3.col-xs-12 category_articles_quantity
                            .col-md-9.col-sm-9.col-xs-12
                                input.form-control(type='number', laceholder='category_articles_quantity', name='category_articles_quantity', value= settings.category_articles_quantity)
                        .form-group
                            label.control-label.col-md-3.col-sm-3.col-xs-12 load_more_quantity
                            .col-md-9.col-sm-9.col-xs-12
                                input.form-control(type='number', laceholder='load_more_quantity', name='load_more_quantity', value= settings.load_more_quantity)
                        
                        .ln_solid
                        .form-group
                            label.control-label.col-md-3.col-sm-3.col-xs-12 opengraph_default_description
                            .col-md-9.col-sm-9.col-xs-12
                                textarea.form-control(rows='4', placeholder='opengraph_default_description', name='opengraph_default_description')= settings.opengraph_default_description
                        .form-group                        
                            label.control-label.col-md-3.col-sm-3.col-xs-12 opengraph_default_image
                            .col-md-9.col-sm-9.col-xs-12
                                input.form-control(type='text', placeholder='opengraph_default_image', name='opengraph_default_image', value= settings.opengraph_default_image)
                      
                        .ln_solid
                        .form-group                        
                            label.control-label.col-md-3.col-sm-3.col-xs-12 onesignal_id
                            .col-md-9.col-sm-9.col-xs-12
                                input.form-control(type='text', placeholder='onesignal_id', name='onesignal_id', value= settings.onesignal_id)
                        .form-group                        
                            label.control-label.col-md-3.col-sm-3.col-xs-12 onesignal_apikey
                            .col-md-9.col-sm-9.col-xs-12
                                input.form-control(type='text', placeholder='onesignal_apikey', name='onesignal_apikey', value= settings.onesignal_apikey)
                        
                        .form-group                        
                            label.control-label.col-md-3.col-sm-3.col-xs-12 onesignal_body_length
                            .col-md-9.col-sm-9.col-xs-12
                                input.form-control(type='number', placeholder='onesignal_body_length', name='onesignal_body_length', value= settings.onesignal_body_length)
                        .form-group                        
                            label.control-label.col-md-3.col-sm-3.col-xs-12 onesignal_logo_url
                            .col-md-9.col-sm-9.col-xs-12
                                input.form-control(type='text', placeholder='onesignal_logo_url', name='onesignal_logo_url', value= settings.onesignal_logo_url)
                        .ln_solid
                        .form-group
                            label.col-md-3.col-sm-3.col-xs-12.control-label Additional options
                            .col-md-9.col-sm-9.col-xs-12
                                .checkbox
                                    label
                                        input(type='checkbox', value='true', name='posts_from_categories_only', checked= settings.posts_from_categories_only)
                                        |  Show only post from categories
                                .checkbox
                                    label
                                        input(type='checkbox', value='true', name='info_add_root_author', checked=settings.info_add_root_author)
                                        |  Add in-text information about root author
                                .checkbox
                                    label
                                        input(type='checkbox', value='true', name='info_add_website', checked=settings.info_add_website)
                                        |  Add website information to posts
                                .checkbox
                                    label
                                        input(type='checkbox', value='true', name='send_sbd_to_authors', checked=settings.send_sbd_to_authors)
                                        |  Send SBD to root authors
                        .form-group
                            label.control-label.col-md-3.col-sm-3.col-xs-12 info_website_info_text
                            .col-md-9.col-sm-9.col-xs-12
                                textarea.form-control(rows='4', placeholder='info_website_info_text', name='info_website_info_text')= settings.info_website_info_text
                        .ln_solid
                        .form-group                        
                            label.control-label.col-md-3.col-sm-3.col-xs-12 fb_fanpage_url
                            .col-md-9.col-sm-9.col-xs-12
                                input.form-control(type='text', placeholder='fb_fanpage_url', name='fb_fanpage_url', value= settings.fb_fanpage_url)
                        .form-group                        
                            label.control-label.col-md-3.col-sm-3.col-xs-12 analytics_identifier
                            .col-md-9.col-sm-9.col-xs-12
                                input.form-control(type='text', placeholder='analytics_identifier', name='analytics_identifier', value= settings.analytics_identifier)
                        .form-group                        
                            label.control-label.col-md-3.col-sm-3.col-xs-12 google_site_verification
                            .col-md-9.col-sm-9.col-xs-12
                                input.form-control(type='text', placeholder='google_site_verification', name='google_site_verification', value= settings.google_site_verification)
                        .ln_solid
                        .form-group
                            label.control-label.col-md-3.col-sm-3.col-xs-12 categories
                            .col-md-9.col-sm-9.col-xs-12
                                textarea.form-control(rows='20', placeholder='categories', name='categories')= JSON.stringify(settings.categories)
                        .form-group
                            label.control-label.col-md-3.col-sm-3.col-xs-12 extra_tags
                            .col-md-9.col-sm-9.col-xs-12
                                textarea.form-control(rows='20', placeholder='extra_tags', name='extra_tags')= JSON.stringify(settings.extra_tags)
                        .ln_solid
                        button.btn.btn-success.pull-right#save-settings Zapisz ustawienia